<footer class="main-footer">
    <!-- To the end -->
    <div class="float-end d-none d-sm-inline">
        Anything you want
    </div>
    <!-- Default to the start -->
    <strong>Designed by IT SPCT &copy; 2024 </strong> 
</footer>
