<!DOCTYPE html>
<html lang="en">
<!-- For RTL verison -->
<!-- <html lang="en" dir="rtl"> -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title>AdminLTE 4 | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="AdminLTE 4 | Dashboard">
    <meta name="author" content="ColorlibHQ">
    <meta name="description" content="AdminLTE is a Free Bootstrap 5 Admin Dashboard featuring over 800 components, 10+ plugins and 20 example pages using Vanilla JS.">
    <meta name="keywords" content="bootstrap 5, bootstrap, bootstrap 5 admin dashboard, bootstrap 5 dashboard, bootstrap 5 charts, bootstrap 5 calendar, bootstrap 5 datepicker, bootstrap 5 tables, bootstrap 5 datatable, vanilla js datatable, colorlibhq, colorlibhq dashboard, colorlibhq admin dashboard" />
    <!-- By adding ./css/dark/adminlte-dark-addon.css then the page supports both dark color schemes, and the page author prefers / default is light. -->
    <meta name="color-scheme" content="light dark">
    <!-- By adding ./css/dark/adminlte-dark-addon.css then the page supports both dark color schemes, and the page author prefers / default is dark. -->
    <!-- <meta name="color-scheme" content="dark light"> -->
    <!-- OPTIONAL LINKS -->
    <!-- Google Font: Source Sans Pro -->
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">*@
    <link rel="stylesheet" href="~/Assets/css/link/cssFontSanPro.css">
    <!-- overlayScrollbars -->
    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/overlayscrollbars@1.13.1/css/OverlayScrollbars.min.css" integrity="sha256-WKijf8KI68sbq8Znd6yMepIuFF0wdWfIt6gk3JWcQfk=" crossorigin="anonymous">*@
    <link rel="stylesheet" href="~/Assets/css/link/OverlayScrollbars.min.css">
    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" >*@
    <link rel="stylesheet" href="~/Assets/css/link/all.min.css">
    @*<link rel="stylesheet" href="~/Content/font-awesome.min.css">*@
    <!-- REQUIRED LINKS -->
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/css/adminlte.css">


    <!-- For RTL verison use ./css/rtl/adminlte.rtl.css, remove dist/css/adminlte.css -->
    <!-- <link rel="stylesheet" href="./css/rtl/adminlte.rtl.css""> -->
    <!-- For dark mode use ./css/dark/adminlte-dark-addon.css, do not remove dist/css/adminlte.css or if usinf RTL version do not remove ./css/rtl/adminlte.rtl.css-->
    <!-- ... and then the alternate CSS first as a snap-on for dark color scheme preference -->
    <!-- <link rel="stylesheet" href="./css/dark/adminlte-dark-addon.css" media="(prefers-color-scheme: dark)""> -->
    @*<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">*@
    <link href="~/Assets/css/link/ionicons.min.css" rel="stylesheet" />
    <!-- jQuery -->
  
</head>
<body class="layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        @Html.Partial("_Header")
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->

        @Html.Partial("_Sidebar")

        <!-- Main content -->
        @RenderBody()
        @*/.content-wrapper*@
        <!-- Main Footer -->

        @Html.Partial("_Footer")


    </div>
    <!--  ./wrapper -->
    <!-- OPTIONAL SCRIPTS -->
    <!-- overlayScrollbars -->
    <script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@1.13.1/js/OverlayScrollbars.min.js" integrity="sha256-7mHsZb07yMyUmZE5PP1ayiSGILxT6KyU+a/kTDCWHA8=" crossorigin="anonymous"></script>
    <!-- Bootstrap 5 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha256-9SEPo+fwJFpMUet/KACSwO+Z/dKMReF9q4zFhU/fT9M=" crossorigin="anonymous"></script>

    <!-- REQUIRED SCRIPTS -->
    <!-- AdminLTE App -->
    <script src="~/Assets/js/adminlte.js"></script>

    <!-- OPTIONAL SCRIPTS -->

    <script>
        const SELECTOR_SIDEBAR = '.sidebar'
        const Default = {
            scrollbarTheme: 'os-theme-light',
            scrollbarAutoHide: 'leave'
        }
        document.addEventListener("DOMContentLoaded", function () {
            if (typeof OverlayScrollbars !== 'undefined') {
                OverlayScrollbars(document.querySelectorAll(SELECTOR_SIDEBAR), {
                    className: Default.scrollbarTheme,
                    sizeAutoCapable: true,
                    scrollbars: {
                        autoHide: Default.scrollbarAutoHide,
                        clickScrolling: true
                    }
                })
            }
        })
    </script>


    <!-- OPTIONAL SCRIPTS -->
    <!-- ChartJS -->
    @*<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js" integrity="sha256-7lWo7cjrrponRJcS6bc8isfsPDwSKoaYfGIHgSheQkk=" crossorigin="anonymous"></script>*@
    <script src="~/Assets/js/link/chart.min.js"></script>
    <script>
        // NOTICE!! DO NOT USE ANY OF THIS JAVASCRIPT
        // IT'S ALL JUST JUNK FOR DEMO
        // ++++++++++++++++++++++++++++++++++++++++++

        /* Chart.js Charts */
        // Sales chart
        (function () {
            'use strict'

            var salesChartCanvas = document.querySelector('#revenue-chart-canvas').getContext('2d')

            var salesChartData = {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [
                    {
                        label: 'Digital Goods',
                        backgroundColor: 'rgba(60,141,188,0.9)',
                        borderColor: 'rgba(60,141,188,0.8)',
                        fill: true,
                        tension: 0.4,
                        pointRadius: 0,
                        pointColor: '#3b8bba',
                        pointStrokeColor: 'rgba(60,141,188,1)',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data: [28, 48, 40, 19, 86, 27, 90]
                    },
                    {
                        label: 'Electronics',
                        backgroundColor: 'rgba(210, 214, 222, 1)',
                        borderColor: 'rgba(210, 214, 222, 1)',
                        fill: true,
                        tension: 0.4,
                        pointRadius: 0,
                        pointColor: 'rgba(210, 214, 222, 1)',
                        pointStrokeColor: '#c1c7d1',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(220,220,220,1)',
                        data: [65, 59, 80, 81, 56, 55, 40]
                    }
                ]
            }

            var salesChartOptions = {
                maintainAspectRatio: false,
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    }
                },
                scales: {
                    xAxes: {
                        gridLines: {
                            display: false
                        }
                    },
                    yAxes: {
                        gridLines: {
                            display: false
                        }
                    }
                }
            }

            // This will get the first returned node in the js collection.
            var salesChart = new Chart(salesChartCanvas, { // lgtm[js/unused-local-variable]
                type: 'line',
                data: salesChartData,
                options: salesChartOptions
            })

            // Donut Chart
            var pieChartCanvas = document.querySelector('#sales-chart-canvas').getContext('2d')
            var pieData = {
                labels: [
                    'Instore Sales',
                    'Download Sales',
                    'Mail-Order Sales'
                ],
                datasets: [
                    {
                        data: [30, 12, 20],
                        backgroundColor: ['#f56954', '#00a65a', '#f39c12']
                    }
                ]
            }
            var pieOptions = {
                plugins: {
                    legend: {
                        display: false
                    }
                },
                maintainAspectRatio: false,
                responsive: true
            }
            // Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            // eslint-disable-next-line no-unused-vars
            var pieChart = new Chart(pieChartCanvas, { // lgtm[js/unused-local-variable]
                type: 'doughnut',
                data: pieData,
                options: pieOptions
            })
        })()

    </script>
</body>
</html>
